  
    html {
      background-color: beige;
      font-family: font Verdana, Geneva, Tahoma, sans-serif;
    }
    
    body {
      margin: 0;
    }

    header {
      padding: 24px;
    
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 24px;
    }
    
    footer {
      padding: 24px;
      background-color: burlywood;
    
      display: grid;
      grid-template-columns: 10fr 10fr;
      column-gap: 24px;
      align-items: center;
    }
    
    main {
      max-width: 800px;
      margin: auto;
      
    }

    .main-page-book-review {
      background-color: white;
      border: 1px solid blue;
      padding: 24px;
    
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 24px;
    }

    .book-cover {
      width: 200px;
      height: auto;

      display: grid;
      grid-column: 1 ;
      grid-row: span 5;
     
    }

    .book-title {
      font-weight: bold;
      font-size: 150%;
      display: grid;
     
      
    }

    .book-rating {
      font-size: 125%;

      display: grid;
      
      
    }

    .book-authors {
      color: dimgray;
      display: grid;
    
    }

    .detail-page-book-review {
      background-color: white;
      padding: 24px;
    }

    .button {
      padding: 12px;
      font-size: 110%;
    }
    
    .input {
      border: 1px solid darkgray;
      border-radius: 4px;
      padding: 12px;
    }
    
    .textarea {
      border: 1px solid darkgray;
      border-radius: 4px;
      padding: 12px;
      height: 100px;
    }
    .book-review-form {
      background-color: white;
    }



